.se-card {
    --card-background-color: var(--brand-purple-50);
    --card-border-color: var(--brand-purple-light-60);
    --card-glow-color: rgba(255, 255, 255, 0.25);

    background: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    box-shadow: 0 4px 20px 0 var(--card-glow-color);
    border-radius: 40px;
    padding: 30px;
}

/* Input */
div.se-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label.se-label {
    color: var(--label-text);
    font-size: 1.25rem;
    font-weight: 400;
}

input.se-input {
    background: var(--input-bg);
    border: var(--input-border);
    border-radius: 12px;
    padding: 16px 20px;
    font-size: 1rem;
    color: var(--input-text);
    transition: background 0.3s ease;
}

input.se-input:focus {
    border: 1px solid var(--brand-error);
}

input.se-input::placeholder {
    font-size: 0.9375rem;
    color: var(--input-placeholder);
}

.se-field.error>input.se-input {
    border: none;
    background-color: var(--input-bg-error);
    border: 3px solid var(--brand-error);
}

/* Checkbox */
.se-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

input.se-checkbox {
    width: 1.4375rem;
    height: 1.4375rem;
    cursor: pointer;
    border-radius: 0.375rem;
    background: var(--input-bg);
    accent-color: var(--brand-purple-80);
}

label.se-checkbox-label {
    font-size: 0.9375rem;
    color: var(--label-text);
    cursor: pointer;
}

/* Button */
/* Button */
/* Button */
.se-button {
    background: var(--brand-purple);
    border: 1px solid var(--brand-purple-light);
    border-radius: var(--btn-radius);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1;
}

.se-button:hover {
    background: var(--brand-purple-light);
    border-color: var(--brand-purple-light);
}

.se-button:active {
    transform: translateY(1px);
}

.se-button--outline {
    background: transparent;
    border: 1px solid var(--brand-purple-light);
}

.se-button--outline:hover {
    background: rgba(123, 62, 241, 0.1);
    /* brand-purple-light with opacity */
}

.se-button--small {
    padding: 8px 20px;
    font-size: 14px;
}


/* Error */
.se-field>.se-error::before {
    content: '* ';
    color: var(--brand-error);
}

.se-field>.se-error {
    color: var(--brand-error);
}