{% load static %}

<div class="footer__wrapper">
    <div class="footer__navigation_wrapper">
        <span class="footer__navigation_logo">
            <img src="{% static 'svg/footer_mail.svg' %}" alt="logo" />
        </span>
        <a class="footer__navigation_text" href="mailto:iftcs@chnu.edu.ua">iftcs@chnu.edu.ua</a>
    </div>
    <div class="footer__navigation_wrapper">
        <span class="footer__navigation_logo">
            <img src="{% static 'svg/location.svg' %}" alt="logo" />
        </span>
        <a class="footer__navigation_text" href="https://maps.app.goo.gl/44BgpeyBuKpJfwnb8" target="_blank">м.Чернівці,
            вул.Сторожинецька, 101</a>
    </div>
</div>