{% load static %}

<html lang="uk">
<head>
    <link rel="icon" href="{% static 'svg/favicon.svg' %}" type="image/svg+xml">
    <title>{% block title %}Authorization{% endblock %}</title>
    {% include "../component/scripts.html" %}
    {% include "../component/stylesheets.html" %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<header>
    {% include "./header.html" %}
</header>
<article>
    {% block content %}
    {% endblock %}
</article>
<footer>
    {% include "./footer.html" %}
</footer>
</body>
</html>